{% extends 'navbar/navbar_base.html' %}
{% block navbar_nav %}
<li class="nav-item">
  <a class="nav-link" href="#">Dashboard</a>
</li>
<li class="nav-item">
  <a class="nav-link" href="#">Post a Job</a>
</li>
<li class="nav-item dropdown">
  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Exam
  </a>
  <div class="dropdown-menu" aria-labelledby="navbarDropdown">
    <a class="dropdown-item" href="#">Create Exam</a>
    <a class="dropdown-item" href="#">Edit Exams</a>
    <a class="dropdown-item" href="#">Exam Results</a>
  </div>
</li>
<li class="nav-item dropdown">
  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Interviewer
  </a>
  <div class="dropdown-menu" aria-labelledby="navbarDropdown">
    <a class="dropdown-item" href="#">Add Interviewer</a>
    <a class="dropdown-item" href="#">View Interviewers</a>
  </div>
</li>
<li class="nav-item dropdown">
  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Interview
  </a>
  <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
    <a class="dropdown-item" href="#">Create Interview</a>
    <a class="dropdown-item" href="#">View Interviews</a>
  </div>
</li>
{% endblock %}
{% block navbar_text %}
<li class="nav-item active">
  <a class="nav-link" href="#">Company Profile</a>
</li>
<li class="nav-item">
  <a class="nav-link" href="{% url 'users:change_password'%}">Change Password</a>
</li>
<li class="nav-item active">
  <a class="nav-link" href="{% url 'users:logout'%}">Logout</a>
</li>
{% endblock %}
