{% extends 'form_card.html' %}
{% block title %}
Change Password
{% endblock title %}
{% block form_title %}
Change Password
{% endblock form_title %}
{% block form %}
<form method="post">
    {% csrf_token %}
    <div class="form-group">
        {{ form.old_password.label_tag }}
        <div class="input-group">
            {{ form.old_password }}
            <div class="input-group-append">
                <span class="input-group-text" onclick="this.parentElement.previousElementSibling.type = (this.parentElement.previousElementSibling.type == 'password' && 'text') || 'password'; this.children[0].classList.contains('bi-eye-fill')? this.children[0].classList.replace('bi-eye-fill', 'bi-eye-slash-fill') : this.children[0].classList.replace('bi-eye-slash-fill', 'bi-eye-fill');">
                    <i class="bi-eye-fill" ></i>
                </span>
            </div>
        </div>
    </div>
    <div class="form-group">
        {{ form.new_password1.label_tag }}
        <div class="input-group">
            {{ form.new_password1 }}
            <div class="input-group-append">
                <span class="input-group-text" onclick="this.parentElement.previousElementSibling.type = (this.parentElement.previousElementSibling.type == 'password' && 'text') || 'password'; this.children[0].classList.contains('bi-eye-fill')? this.children[0].classList.replace('bi-eye-fill', 'bi-eye-slash-fill') : this.children[0].classList.replace('bi-eye-slash-fill', 'bi-eye-fill');">
                    <i class="bi-eye-fill" ></i>
                </span>
            </div>
            <small class="form-text text-muted">
            Your password must be 8-20 characters long, contain lowercase and uppercase letters, numbers and special characters (@$!%*?&), and must not contain spaces or other characters.
            </small>
        </div>
    </div>
    <div class="form-group">
        {{ form.new_password2.label_tag }}
        <div class="input-group">
            {{ form.new_password2 }}
            <div class="input-group-append">
                <span class="input-group-text" onclick="this.parentElement.previousElementSibling.type = (this.parentElement.previousElementSibling.type == 'password' && 'text') || 'password'; this.children[0].classList.contains('bi-eye-fill')? this.children[0].classList.replace('bi-eye-fill', 'bi-eye-slash-fill') : this.children[0].classList.replace('bi-eye-slash-fill', 'bi-eye-fill');">
                    <i class="bi-eye-fill" ></i>
                </span>
            </div>
        </div>
    </div>
    <a href="{% url 'home' %}" class="btn btn-warning">Cancel</a>
    <input type="submit" class="btn btn-success" value="Change Password"/>
</form>
{% endblock form %}
{% block error_list %}
    {{ form.errors }}
{% endblock error_list %}
{% block script %}
var error_list = document.getElementsByClassName('errorlist')[0];
{{ block.super }}
function check_password(new_password2) {
    let new_password1 = document.getElementById('id_new_password1');
    if (new_password1.value != new_password2.value) {
        new_password2.setCustomValidity('Password and confirm password don\'t match.');
    }
    else {
        new_password2.setCustomValidity('');
    }
}
{% endblock script %}
