{% extends 'form_card.html' %}
{% block title %}
Login
{% endblock title %}
{% block form_title %}
Login
{% endblock form_title %}
{% block form %}
<form method="post">
    {% csrf_token %}
    <div class="form-group">
        <label for="email_input">Email:</label>
        <input id="email_input" type="email" name="email" class="form-control" placeholder="username@domain.com" pattern="^[\w\.\+\-]+@[a-zA-Z0-9\-]+\.[a-zA-Z0-9\.\-]+$" title="username@domain.com" required />
    </div>
    <div class="form-group">
        <label for="password_input">Password:</label>
        <div class="input-group">
            <input id="password_input" type="password" name="password" class="form-control" pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@$!%*?&])[A-Za-z\d@$!%*?&]{8,20}$" title="Password must be 8-20 characters long, contain lowercase and uppercase letters, numbers and special characters (@$!%*?&), and must not contain spaces or other characters" required />
            <div class="input-group-append">
                <span class="input-group-text" onclick="this.parentElement.previousElementSibling.type = (this.parentElement.previousElementSibling.type == 'password' && 'text') || 'password'; this.children[0].classList.contains('bi-eye-fill')? this.children[0].classList.replace('bi-eye-fill', 'bi-eye-slash-fill') : this.children[0].classList.replace('bi-eye-slash-fill', 'bi-eye-fill');">
                    <i class="bi-eye-fill" ></i>
                </span>
            </div>
        </div>
        <small class="form-text text-muted">
        Your password must be 8-20 characters long, contain lowercase and uppercase letters, numbers and special characters (@$!%*?&), and must not contain spaces or other characters.
        </small>
    </div>
    <div class="form-group">
        <a href="{% url 'users:reset_password' %}">Forgot Your password?</a>
        <br>
        New to job portal? <a href="{% url 'users:signup' %}">Sign Up</a>
    </div>
    <a href="#"  class="btn btn-warning">Cancel</a>
    <input type="submit" class="btn btn-success" value="Login" />
</form>
{% endblock form %}
