{% extends 'form_card.html' %}
{% block title %}
Forgot Password
{% endblock title %}
{% block form_title %}
Forgot Password?
{% endblock form_title %}
{% block form %}
<form method="post">
    {% csrf_token %}
    {{ form.email.label_tag }}
    <div class="form-group">
        {{ form.email }}
    </div>
    <a href="{% url 'home' %}" class="btn btn-warning">Cancel</a>
    <input type="submit" class="btn btn-success" value="Send Link"/>
</form>
{% endblock form %}
{% block error_list %}
    {{ form.errors }}
{% endblock error_list %}
{% block script %}
var error_list = document.getElementsByClassName('errorlist')[0];
{{ block.super }}
{% endblock script %}
