{% extends 'base.html' %}
{% block title %}
Password Reset Link Sent
{% endblock title %}
{% block content %}
<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-12 col-md-6">
            <div class="card my-5">
                <h4 class="card-header text-center">
                    Password Reset Link Sent
                </h4>
                <div class="card-body text-center">
                    <i class="bi-envelope-check-fill mr-3"></i>Password reset link should have been sent to your email address!
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
