{% extends 'form_card.html' %}
{% block style %}
<style>
  input[type=radio]{
    transform:scale(1.5);
  }
</style>
{% endblock style %}
{% block form_title %}
    Sign Up
{% endblock form_title %}
{% block form %}
<form method="post">
  {% csrf_token %}
  <div class="form-group text-center">
    <input id="role_input" type="radio" name="role" class="mr-1" value="JOB SEEKER" required checked/> Job Seeker
    <input id="role_input" type="radio" name="role" class="ml-3 mr-1" value="EMPLOYER" required /> Employer
  </div>
  <div class="form-group">
    <label for="email">Email:</label>
    <input id="email_input" type="email" name="email" class="form-control email mb-2" placeholder="abc@gmail.com"
      pattern="^[\w\.\+\-]+@[a-zA-Z0-9\-]+\.[a-zA-Z0-9\.\-]+$" title="username@domain.com" required />
  </div>
  <div class="form-group">
    <label>Password:</label>
    <input id="password_input" type="password" class="form-control password mb-2" placeholder="Enter 8 char password.."
      name="pwd" pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@$!%*?&])[A-Za-z\d@$!%*?&]{8,128}$" title="Password must contain aleast 8 characters, one lowercase letter, one uppercase letter, one number and one special character (@$!%*?&)" required />
    <input type="checkbox" class="mb-2"  onchange="shPassword()"/> Show password
  </div>
  <div class="form-group">
    <label>Confirm password:</label>
    <input type="password" class="form-control password mb-3" placeholder="Retype your password !" id="pwd1"
      name="pwd1" required/>
  </div>
  <div class="mb-4">
    Already have an account?
    <a href="#">Login</a>
  </div>
  <div class="form-group text-center">
    <a href="#" class="btn sm-btn btn-warning">Cancel</a>
    <input type="submit" class="btn sm-btn btn-success" value="Sign Up"/>
  </div>
</form>
{% endblock form %}
