    {% extends 'form_card.html' %}
{% block title %}
Sign Up
{% endblock title %}
{% block style %}
{{ block.super }}
input[type="radio"]:checked + label {
    color: #0056b3;
    font-weight: bold;
}
{% endblock style %}
{% block form_title %}
    Sign Up
{% endblock form_title %}
{% block form %}
<form id="signup_form" method="post">
    {% csrf_token %}
    <div class="form-group text-center">
        <div class="custom-control custom-radio custom-control-inline">
            <input id="job_seeker_role_input" type="radio" name="role" value="JOB SEEKER" class="custom-control-input" required {% if not form.role or form.role == 'JOB SEEKER' %}checked{% endif %}>
            <label for="job_seeker_role_input" class="custom-control-label">Job Seeker</label>
        </div>
        <div class="custom-control custom-radio custom-control-inline">
            <input id="employer_role_input" type="radio" name="role" value="EMPLOYER" class="custom-control-input" required {% if form.role == 'EMPLOYER' %}checked{% endif %}>
            <label for="employer_role_input" class="custom-control-label">Employer</label>
        </div>
    </div>
    <div class="form-group">
        <label for="email_input">Email:</label>
        <input id="email_input" type="email" name="email" value="{{ form.email }}" class="form-control" placeholder="username@domain.com" pattern="^[\w\.\+\-]+@[a-zA-Z0-9\-]+\.[a-zA-Z0-9\.\-]+$" title="username@domain.com" required />
    </div>
    <div class="form-group">
        <label for="password_input">Password:</label>
        <div class="input-group">
            <input id="password_input" type="password" name="password" class="form-control" pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@$!%*?&])[A-Za-z\d@$!%*?&]{8,20}$" title="Password must be 8-20 characters long, contain lowercase and uppercase letters, numbers and special characters (@$!%*?&), and must not contain spaces or other characters" required />
            <div class="input-group-append">
                <span class="input-group-text" onclick="this.parentElement.previousElementSibling.type = (this.parentElement.previousElementSibling.type == 'password' && 'text') || 'password'; this.children[0].classList.contains('bi-eye-fill')? this.children[0].classList.replace('bi-eye-fill', 'bi-eye-slash-fill') : this.children[0].classList.replace('bi-eye-slash-fill', 'bi-eye-fill');">
                    <i class="bi-eye-fill" ></i>
                </span>
            </div>
        </div>
        <small class="form-text text-muted">
        Your password must be 8-20 characters long, contain lowercase and uppercase letters, numbers and special characters (@$!%*?&), and must not contain spaces or other characters.
        </small>
    </div>
    <div class="form-group">
        <label>Confirm password:</label>
        <div class="input-group">
            <input id="confirm_password_input" type="password" name="confirm_password" class="form-control" oninput="check_password(this)" required />
            <div class="input-group-append">
                <span class="input-group-text" onclick="this.parentElement.previousElementSibling.type = (this.parentElement.previousElementSibling.type == 'password' && 'text') || 'password'; this.children[0].classList.contains('bi-eye-fill')? this.children[0].classList.replace('bi-eye-fill', 'bi-eye-slash-fill') : this.children[0].classList.replace('bi-eye-slash-fill', 'bi-eye-fill');">
                    <i class="bi-eye-fill" ></i>
                </span>
            </div>
        </div>
    </div>
    <div class="form-group">
        Already have an account? <a href="{% url 'users:login' %}">Login</a>
    </div>
    <a href="{% url 'home' %}" class="btn btn-warning">Cancel</a>
    <input type="submit" class="btn btn-success" value="Next"/>
</form>
{% endblock form %}
{% block script %}
{{ block.super }}
function check_password(confirm_password_input) {
    let password_input = document.getElementById('password_input');
    if (password_input.value != confirm_password_input.value) {
        confirm_password_input.setCustomValidity('Password and confirm password don\'t match.');
    }
    else {
        confirm_password_input.setCustomValidity('');
    }
}
{% endblock script %}
