{% extends 'base.html' %}
{% block content %}
<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-12 col-md-6">
            <div class="card my-5">
                <h4 class="card-header text-center">
                    {% block form_title %}{% endblock form_title %}
                </h4>
                <div class="card-body">
                    {% block form %}{% endblock form %}
                    {% if errors or form.errors %}
                    <div class="card border-danger mt-3">
                        <div class="card-body">
                            <h5 class="card-title">Please correct the following errors:</h5>
                            {% block error_list %}
                            <ul id="error_list" class="list-unstyled">
                            {% for field in errors %}
                                {% if field.0 == '__all__' %}
                                {% for error in field.1 %}
                                <li data-all="true"><b>{{ error }}</b></li>
                                {% endfor %}
                                {% else %}
                                <li><b>{{ field.0 }}</b>
                                    <ul>
                                    {% for error in field.1 %}
                                        <li>{{ error }}</li>
                                    {% endfor %}
                                    </ul>
                                </li>
                                {% endif %}
                            {% endfor %}
                            </ul>
                            {% endblock error_list %}
                        </div>
                    </div>
                    {% endif %}
                </div>
            </div>
            {% block item_table %}
            {% endblock item_table %}
        </div>
    </div>
</div>
{% endblock content %}
{% block script %}
{{ block.super }}
document.addEventListener('DOMContentLoaded', (event) => {
    error_list = (typeof(error_list) == 'undefined')? document.getElementById('error_list') : error_list;
    if (error_list) {
        let fields = error_list.children;
        for (field of fields) {
            if (field.dataset.all) {
                // for __all__
                let all_inputs = document.querySelectorAll('input, select, textarea');
                for (input of all_inputs) {
                    if (!['hidden', 'button', 'image', 'submit', 'reset', 'search'].includes(input.type)) {
                        input.classList.add('is-invalid');
                    }
                }
                break;
            }
            else {
                let field_name = field.firstChild.textContent;
                let invalid_inputs = document.querySelectorAll(`input[name=${field_name}], select[name=${field_name}], textarea[name=${field_name}]`);
                for (invalid_input of invalid_inputs) {
                    invalid_input.classList.add('is-invalid');
                }
            }
        }
    }
});
{% endblock script %}
