{% extends 'base.html' %}
{% block content %}
<div class="container">
    {% include 'pages/home/search.html' %}
    {% comment %}
    {% include 'pages/search_results.html' %}
    {% endcomment %}
    {% if not form.search_keyword and not form.search_location %}
    <div class="row justify-content-around my-3">
        <div class="col-12 mb-2 col-md-5 mb-md-0">
            <div class="card">
                <svg xmlns="http://www.w3.org/2000/svg" width="100" height="100" fill="currentColor" class="bi bi-file-earmark-person card-img" viewBox="0 0 16 16" opacity="0.1" style="margin: 20px 0px;">
                  <path d="M11 8a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"/>
                  <path d="M14 14V4.5L9.5 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2zM9.5 3A1.5 1.5 0 0 0 11 4.5h2v9.255S12 12 8 12s-5 1.755-5 1.755V2a1 1 0 0 1 1-1h5.5v2z"/>
                </svg>
                <div class="card-img-overlay">
                    <h5 class="card-title mb-2">Upload your resume</h5>
                    <div class="card-subtitle text-muted">
                        find your dream job&#8230;
                    </div>
                    <div class="position-absolute" style="right: 0.5rem; bottom: 0.5rem;"><a href="{% url 'users:signup' %}" class="btn btn-primary">Job Seeker Sign Up</a></div>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-5">
            <div class="card">
                <svg xmlns="http://www.w3.org/2000/svg" width="100" height="100" fill="currentColor" class="bi bi-file-earmark-text card-img" viewBox="0 0 16 16" opacity="0.1" style="margin: 20px 0px;">
                  <path d="M5.5 7a.5.5 0 0 0 0 1h5a.5.5 0 0 0 0-1h-5zM5 9.5a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5zm0 2a.5.5 0 0 1 .5-.5h2a.5.5 0 0 1 0 1h-2a.5.5 0 0 1-.5-.5z"/>
                  <path d="M9.5 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V4.5L9.5 0zm0 1v2A1.5 1.5 0 0 0 11 4.5h2V14a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h5.5z"/>
                </svg>
                <div class="card-img-overlay">
                    <h5 class="card-title mb-2">Post a job</h5>
                    <div class="card-subtitle text-muted">
                        discover talented candidates&#8230;
                    </div>
                    <div class="position-absolute" style="right: 0.5rem; bottom: 0.5rem;"><a href="{% url 'users:signup' %}?role=EMPLOYER" class="btn btn-primary">Employer Sign Up</a></div>
                </div>
            </div>
        </div>
    </div>
    <div class="row my-3 text-center">
        <div class="col-12 mb-2 col-lg-3 mb-lg-0">
            <div class="card" style="height: 100%;">
                <svg xmlns="http://www.w3.org/2000/svg" width="160" height="160" fill="currentColor" class="bi bi-building card-img text-primary" viewBox="0 0 16 16" opacity="0.3" style="margin: 20px 0px">
                  <path fill-rule="evenodd" d="M14.763.075A.5.5 0 0 1 15 .5v15a.5.5 0 0 1-.5.5h-3a.5.5 0 0 1-.5-.5V14h-1v1.5a.5.5 0 0 1-.5.5h-9a.5.5 0 0 1-.5-.5V10a.5.5 0 0 1 .342-.474L6 7.64V4.5a.5.5 0 0 1 .276-.447l8-4a.5.5 0 0 1 .487.022zM6 8.694 1 10.36V15h5V8.694zM7 15h2v-1.5a.5.5 0 0 1 .5-.5h2a.5.5 0 0 1 .5.5V15h2V1.309l-7 3.5V15z"/>
                  <path d="M2 11h1v1H2v-1zm2 0h1v1H4v-1zm-2 2h1v1H2v-1zm2 0h1v1H4v-1zm4-4h1v1H8V9zm2 0h1v1h-1V9zm-2 2h1v1H8v-1zm2 0h1v1h-1v-1zm2-2h1v1h-1V9zm0 2h1v1h-1v-1zM8 7h1v1H8V7zm2 0h1v1h-1V7zm2 0h1v1h-1V7zM8 5h1v1H8V5zm2 0h1v1h-1V5zm2 0h1v1h-1V5zm0-2h1v1h-1V3z"/>
                </svg>
                <div class="card-img-overlay d-flex flex-column justify-content-around">
                    <h2 id="employer_counter" class="card-text counter" data-to="{{counters.employer_count}}">0</h2>
                    <h4 class="card-title">Employer{{ counters.employer_count|pluralize }}</h4>
                </div>
            </div>
        </div>
        <div class="col-12 mb-2 col-lg-3 mb-lg-0">
            <div class="card" style="height: 100%;">
                <svg xmlns="http://www.w3.org/2000/svg" width="160" height="160" fill="currentColor" class="bi bi-person-fill card-img text-primary" viewBox="0 0 16 16" opacity="0.3" style="margin: 20px 0px;">
                  <path d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
                </svg>
                <div class="card-img-overlay d-flex flex-column justify-content-around">
                    <h2 id="job_seeker_counter" class="counter" data-to="{{counters.job_seeker_count}}">0</h2>
                    <h4 class="card-title">Job Seeker{{ counters.job_seeker_count|pluralize }}</h4>
                </div>
            </div>
        </div>
        <div class="col-12 mb-2 col-lg-3 mb-lg-0">
            <div class="card" style="height: 100%;">
                <svg xmlns="http://www.w3.org/2000/svg" width="160" height="160" fill="currentColor" class="bi bi-briefcase-fill card-img text-primary" viewBox="0 0 16 16" opacity="0.3" style="margin: 20px 0px">
                  <path d="M6.5 1A1.5 1.5 0 0 0 5 2.5V3H1.5A1.5 1.5 0 0 0 0 4.5v1.384l7.614 2.03a1.5 1.5 0 0 0 .772 0L16 5.884V4.5A1.5 1.5 0 0 0 14.5 3H11v-.5A1.5 1.5 0 0 0 9.5 1h-3zm0 1h3a.5.5 0 0 1 .5.5V3H6v-.5a.5.5 0 0 1 .5-.5z"/>
                  <path d="M0 12.5A1.5 1.5 0 0 0 1.5 14h13a1.5 1.5 0 0 0 1.5-1.5V6.85L8.129 8.947a.5.5 0 0 1-.258 0L0 6.85v5.65z"/>
                </svg>
                <div class="card-img-overlay d-flex flex-column justify-content-around">
                    <h2 id="job_post_counter" class="counter" data-to="{{counters.job_post_count}}">0</h2>
                    <h4 class="card-title">Job Post{{ counters.job_post_count|pluralize }}</h4>
                </div>
            </div>
        </div>
        <div class="col-12 col-lg-3">
            <div class="card" style="height: 100%;">
                <svg xmlns="http://www.w3.org/2000/svg" width="160" height="160" fill="currentColor" class="bi bi-person-check-fill card-img text-primary" viewBox="0 0 16 16" opacity="0.3" style="margin: 20px 0px">
                  <path fill-rule="evenodd" d="M15.854 5.146a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708 0l-1.5-1.5a.5.5 0 0 1 .708-.708L12.5 7.793l2.646-2.647a.5.5 0 0 1 .708 0z"/>
                  <path d="M1 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H1zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
                </svg>
                <div class="card-img-overlay d-flex flex-column justify-content-around">
                    <h2 id="hired_counter" class="counter" data-to="{{counters.hired_count}}">0</h2>
                    <h4 class="card-title">Hired Applicant{{ counters.hired_count|pluralize }}</h4>
                </div>
            </div>
        </div>
    </div>
    <script id="counter_script" type="text/javascript">
        document.addEventListener('DOMContentLoaded', (event) => {
            var counters = document.getElementsByClassName('counter');
            // call an update function every 75 milliseconds for max 1.5 seconds (20 times), and make it increment the counters
            for (var counter of counters) {
                counter.dataset.increment = Math.ceil(counter.dataset.to / 20);
                counter.dataset.intervalId = setInterval(update_counter, 75, counter);
            }
        });
        function update_counter(counter) {
            // increment by 1/20th of target value but if the new value is greater than or equal to target value then stop and display target value
            let value = parseInt(counter.textContent);
            value += parseInt(counter.dataset.increment);
            if (value >= counter.dataset.to) {
                clearInterval(counter.dataset.intervalId);
                value = counter.dataset.to;
            }
            counter.textContent = value;
        }
    </script>
    {% endif %}
    <hr class="clearfix" style="width: 0px;">
</div>
{% endblock content %}
