{% extends 'base.html' %}
{% block content %}
<div class="container">
    {% include 'pages/home/search.html' %}
    {% comment %}
    {% include 'pages/search_results.html' %}
    {% endcomment %}
    {% if not job_search_result %}
    <div class="row justify-content-around my-3">
        <div class="col-12 mb-2 col-md-5 mb-md-0">
            <div class="card">
                <svg xmlns="http://www.w3.org/2000/svg" width="100" height="100" fill="currentColor" class="bi bi-file-earmark-person card-img my-3" viewBox="0 0 16 16" opacity="0.1">
                  <path d="M11 8a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"/>
                  <path d="M14 14V4.5L9.5 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2zM9.5 3A1.5 1.5 0 0 0 11 4.5h2v9.255S12 12 8 12s-5 1.755-5 1.755V2a1 1 0 0 1 1-1h5.5v2z"/>
                </svg>
                <div class="card-img-overlay">
                    <h5 class="card-title mb-2">Upload your resume</h5>
                    <div class="card-subtitle text-muted">
                        find your dream job&#8230;
                    </div>
                    <div class="position-absolute" style="right: 0.5rem; bottom: 0.5rem;"><a href="{% url 'users:signup' %}?role=JOB+SEEKER" class="btn btn-primary">Job Seeker Sign Up</a></div>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-5">
            <div class="card">
                <svg xmlns="http://www.w3.org/2000/svg" width="100" height="100" fill="currentColor" class="bi bi-file-earmark-text card-img my-3" viewBox="0 0 16 16" opacity="0.1">
                  <path d="M5.5 7a.5.5 0 0 0 0 1h5a.5.5 0 0 0 0-1h-5zM5 9.5a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5zm0 2a.5.5 0 0 1 .5-.5h2a.5.5 0 0 1 0 1h-2a.5.5 0 0 1-.5-.5z"/>
                  <path d="M9.5 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V4.5L9.5 0zm0 1v2A1.5 1.5 0 0 0 11 4.5h2V14a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h5.5z"/>
                </svg>
                <div class="card-img-overlay">
                    <h5 class="card-title mb-2">Post a job</h5>
                    <div class="card-subtitle text-muted">
                        discover talented candidates&#8230;
                    </div>
                    <div class="position-absolute" style="right: 0.5rem; bottom: 0.5rem;"><a href="{% url 'users:signup' %}?role=EMPLOYER" class="btn btn-primary">Employer Sign Up</a></div>
                </div>
            </div>
        </div>
    </div>
    <div class="row my-3 text-center">
        <div class="col-12 mb-2 col-lg-3 mb-lg-0">
            <div class="card bg-light" style="height: 100%;">
                <div class="card-body d-flex flex-column justify-content-between">
                    <i class="bi-building" style="font-size: 2rem;"></i>
                    <h2 id="employer_counter" class="counter" data-to="{{counters.employer_count}}">0</h2>
                    <h4 class="card-title">Employers</h4>
                </div>
            </div>
        </div>
        <div class="col-12 mb-2 col-lg-3 mb-lg-0">
            <div class="card bg-light" style="height: 100%;">
                <div class="card-body d-flex flex-column justify-content-between">
                    <i class="bi-person-fill" style="font-size: 2rem;"></i>
                    <h2 id="job_seeker_counter" class="counter" data-to="{{counters.job_seeker_count}}">0</h2>
                    <h4 class="card-title">Job Seekers</h4>
                </div>
            </div>
        </div>
        <div class="col-12 mb-2 col-lg-3 mb-lg-0">
            <div class="card bg-light" style="height: 100%;">
                <div class="card-body d-flex flex-column justify-content-between">
                    <i class="bi bi-briefcase-fill" style="font-size: 2rem;"></i>
                    <h2 id="job_post_counter" class="counter" data-to="{{counters.job_post_count}}">0</h2>
                    <h4 class="card-title">Job Posts</h4>
                </div>
            </div>
        </div>
        <div class="col-12 col-lg-3">
            <div class="card bg-light" style="height: 100%;">
                <div class="card-body d-flex flex-column justify-content-between">
                    <i class="bi bi-person-check-fill" style="font-size: 2rem;"></i>
                    <h2 id="hired_counter" class="counter" data-to="{{counters.hired_count}}">0</h2>
                    <h4 class="card-title">Hired Applicants</h4>
                </div>
            </div>
        </div>
    </div>
    <script id="counter_script" type="text/javascript">
        document.addEventListener('DOMContentLoaded', (event) => {
            var counters = document.getElementsByClassName('counter');
            // call an update function every 75 milliseconds for 1.5 seconds (20 times), and make it increment the counters
            for (var counter of counters) {
                let increment = Math.ceil(counter.dataset.to / 20);
                counter.dataset.intervalId = setInterval(update_counter, 75, counter, increment);
            }
        });
        function update_counter(counter, increment) {
            let value = parseInt(counter.textContent);
            value += increment;
            if (value >= counter.dataset.to) {
                clearInterval(counter.dataset.intervalId);
            }
            counter.textContent = value;
        }
    </script>
    <hr class="clearfix" style="width: 0px;">
    {% endif %}
</div>
{% endblock content %}
